body {
    /*background-color: ghostwhite;*/
}

.overflow-hidden {
    overflow: hidden;
}

/*.navbar {*/
/*background-color: red;*/
/*}*/

.poke-navbar {
    /*background-color: red;*/
    /*background-color: #383961;*/
    background-color: rgba(235, 0, 45, 1);
    /*border-bottom: 2px solid black;*/
    box-shadow: 0 1px 4px black;
}

.nav-img {
    width: 30px;
}

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}

.info-panel {
    background-color: rgba(10, 10, 10, .9);
    padding: 20px;
    border-radius: 15px;
    margin-top: 10vh;
}

.upload {
    position: fixed;
    width: 30%;
    max-width: 30%;
    max-height: 30%;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.img-panel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 89vh;*/
    width: 100%;
    height: 50vh;
    /*max-width: 80vw;*/
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 4px;
    overflow: hidden;
}

.img-panel {
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    border-radius: 2px;
}

.img-preview-wrapper {
    max-width: 90%;
}

.prediction-panel {
    position: absolute;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
    /*border-radius: 6px;*/
    box-shadow: 2px 8px 8px rgba(5, 5, 5, .3);
    top: 93%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);

}

.upload-info {
    font-size: 1.2rem;
    color: rgb(235, 235, 235);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.upload-highlight {
    border: 1px dashed rgb(131, 200, 255);
    /*border: 1px dashed rgb(111, 183, 255);*/
}

.loading-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.txt-white {
    color: white;
}