<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Image Recognition</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light poke-navbar">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        {#        <img src="/static/images/pokeball-3d.png" class="d-inline-block align-top nav-img" alt="poke ball">#}

        {#        https://vgboxart.com/resource/13697/pokeball-render/#}
        <img src="{{ url_for('static',filename='images/pokeball.png') }}" class=" d-inline-block align-top nav-img"
             alt="poke ball">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link txt-white" href="{{ url_for('index') }}"><span class="txt-white">Home</span>
                    <span class="sr-only">(current)</span></a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#"><span class="txt-white">About Us</span></a>#}
            {#            </li>#}
        </ul>
    </div>
</nav>

{#container#}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            {#                upload panel#}
            <div class="info-panel txt-white">
                <div id="img-container" class="img-panel-container">
                    <div id="upload-info" class="upload-info">
                        <div class="text-center mb-3">
                            <i class="far fa-image fa-3x"></i>
                        </div>
                        Drag and drop or select an image.
                    </div>
                    <img id="img-preview" class="img-panel">
                    <div id="prediction" class="d-none text-dark bg-light prediction-panel"></div>
                    <canvas id="icon-canvas" class="loading-canvas"></canvas>
                </div>
                <div class="mt-4">
                    {#                image upload form#}
                    <form id="upload-form" class="m-0" action="{{ url_for('upload') }}" method="post"
                          enctype=multipart/form-data>
                        {#                        file input#}
                        <input id="img-input" class="input-file" type="file" name="file">
                        <div class="btn-group">
                            <label id="img-input-label" class="btn btn-secondary m-0 border-right" for="img-input">Choose
                                an
                                image</label>
                            <button id="form-clear" class="btn btn-secondary border-left"
                                    type="button"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <input id="upload-submit" class="btn btn-info" type="submit" value="Analyze">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{#allowed extensions#}
<div id="allowed-extensions">
    {% for extension in allowed_extensions %}
        <input type="hidden" value="{{ extension }}">
    {% endfor %}

</div>

{#poke ball background canvas#}
<canvas id="poke-ball-canvas" class="background-canvas"></canvas>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="{{ url_for('static',filename='js/utils.js') }}"></script>
<script src="{{ url_for('static',filename='js/canvas.js') }}"></script>
<script src="{{ url_for('static',filename='js/poke_ball_canvas.js') }}"></script>
<script src="{{ url_for('static',filename='js/image_upload.js') }}"></script>
</body>
</html>